*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container{
  display: flex;
  height: 600px;
  border: 2px solid;
  align-content: center;
  align-items: end;
}

.child{
  width: 100px;
  height: 100px;
  border: 2px solid;
  padding: 5px;
  margin: 5px;
}

.child1{
  background-color: gold;
}

.child2{
  background-color: fuchsia;
}

.child3{
  background-color: darkgray;
}

.child4{
  background-color: chocolate;
}

.child5{
  background-color: aquamarine;
}